


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정하기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <style>
        div{border:0px solid blueviolet;}
        *{font-size: 12px;}
        .w100{width:100px;}
		.w200{width:200px;}
        body > div > div:nth-child(2) > div.col-9.pt-3 > form > table > tbody > tr > th{
			text-align: center; vertical-align: middle;
		}
		#writeTable tr th {text-align: center; vertical-align: middle;}
    </style>
</head>
<body> 
<div class="container">
    <!-- Top영역 -->
    
	<div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <!-- 회사로고(logo) -->
                    <a class="navbar-brand" href="#">
                        <img src="https://www.ikosmo.co.kr/images/common/logo_center_v2.jpg" style="width: 120px;">
                    </a>
                    <!-- GNB(Global Navigation Bar : 해당 웹사이트의 전체(global) 메뉴) -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">자유게시판</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">자료실</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">드롭다운</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Link 1</a></li>
                                <li><a class="dropdown-item" href="#">Link 2</a></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 검색폼 -->
                    <form class="mt-3" method="get" action="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" style="width: 200px;">
                        <button class="btn btn-warning" type="submit">
                            <i class="bi-search" style="font-size: 1rem; color: white;"></i>
                        </button>
                    </div>
                    </form>
                    <!-- 회원가입/로그인 링크 -->
                    <ul class="navbar-nav">
                        <!-- 로그인전 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-person-plus-fill" style="font-size: 1rem;"></i>
                                회원가입
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-in-right" style="font-size: 1rem;"></i>
                                로그인
                            </a>
                        </li>
                        <!-- 로그인후 -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-person-lines-fill" style="font-size: 1rem;"></i>
                                회원정보수정
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-right" style="font-size: 1rem;"></i>
                                로그아웃
                            </a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Body영역 -->
    <div class="row">
        <!-- Left메뉴영역 -->
        
<div class="col-3">
          <div style="height: 100px;line-height: 100px;text-align: center;background-color: cadetblue;
        border-radius: 10px;margin: 10px 0;font-size: 1.5em;color: #ffffff;">
        웹사이트제작
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">자유게시판</a>
        </li>
        <li class="nav-item bg-light">
            <a class="nav-link" href="#">자료실</a>
        </li>
        <li class="nav-item bg-light dropdown dropend">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">쇼핑하기</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>
        </li>
    </ul>
</div>
        <!-- Contents영역 -->
        <div class="col-9 pt-3">
            <h3>게시물 수정 - <small>자유게시판</small></h3>
            
            <form method="post" enctype="multipart/form-data">
            <input type="hid-den" name="prevphoto" value="{{ post.my_file }}">
            <input type="hid-den" name="my_name" value="{{ post.my_name }}">
            {% csrf_token %}
                <table class="table table-bordered">
                <colgroup>
                    <col width="20%"/>
                    <col width="*"/>
                </colgroup>
                <tbody>
                    <tr>
                        <th class="text-center" 
                            style="vertical-align:middle;">작성자</th>
                        <td>
                            <input type="text" class="form-control" name="my_name"
                                style="width:100px;" value="{{ post.my_name }}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" 
                            style="vertical-align:middle;">패스워드</th>
                        <td>
                            <input type="text" class="form-control" name="my_pw"
                                style="width:200px;" value="{{ post.my_pw }}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" 
                            style="vertical-align:middle;">제목</th>
                        <td>
                            <input type="text" class="form-control" name="my_titles" value="{{ post.my_titles }}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" 
                            style="vertical-align:middle;">내용</th>
                        <td>
                            <textarea rows="5" class="form-control" name="my_contents">{{ post.my_contents }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" 
                            style="vertical-align:middle;">첨부파일</th>
                        <td>
                            <input type="file" class="form-control" name="my_file" />
                        </td>
                    </tr>
                </tbody>
                </table>

                <!-- 각종버튼 -->
                <div class="row mb-3">
                    <div class="col d-flex justify-content-end">
                        <!-- <button type="button" class="btn btn-primary">글쓰기</button> -->
                        <!-- <button type="button" class="btn btn-secondary">수정하기</button>
                        <button type="button" class="btn btn-success">삭제하기</button>
                        <button type="button" class="btn btn-info">답글쓰기</button> -->
                        <button type="button" class="btn btn-warning" onclick="location.href='/boardApps/list';">목록보기</button>
                        <button type="submit" class="btn btn-danger">전송하기</button>
                        <button type="button" class="btn btn-dark">다시쓰기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Copyright영역 -->
    
<div class="row border border-dark border-bottom-0 border-start-0 border-end-0 pt-2">
    <div class="col-2">
          <h2>낙짜쌤&trade;</h2>
    </div>
    <div class="col-10">
          Email : 본인의&nbsp;&nbsp;
          Mobile : 정보를&nbsp;&nbsp;
          Address : 쓰세요
          <br>
          copyright &copy; 2021 
          All right reserved.
    </div>
</div>
</div>
</body>
</html>