<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
</head>
<body>
    <script>
        var chk = function(fm){
            if(fm.titles.value==""){
                alert("제목을 입력하셈"); fm.titles.focus(); return false;
            }
            if(fm.contents.value==""){
                alert("내용을 입력하셈"); fm.contents.focus(); return false;
            }
        }
    </script>
    <h1>작성하기</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="return chk(this);">
        {% csrf_token %}
        제목 : <input type="text" name="titles">
        <br>
        내용 : <textarea name="contents" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="file" name="mainphoto" id=""><br>
        <input type="submit" value="전송하기">
    </form>
</body>
</html>