<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>템플릿 사용하기</h1>

    <ul>
        <li><a href="./template.filter/" target="_blank">템플릿 필터 바로가기</a></li>
        <li><a href="./template.tag/" target="_blank">템플릿 태그 바로가기</a></li>
        <li><a href="./form.create/" target="_blank">폼 사용하기</a></li>
        <li><a href="./boardWrite/" target="_blank">글쓰기 페이지</a></li>
    </ul>
</body>
</html>